{% extends "base.html" %}

{% block content %}

<div class="mt-4 text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mask_model">
        공지사항
    </button>
</div>

<div class="col-lg-8 mx-auto my-4">
    <div class="bg-white rounded box-shadow">
        {% for store in stores %}
            {% include "stores/include/store_list_each.html" with store=store %}
        {% endfor %}
    </div>
</div>


<div class="modal fade" id="mask_model" tabindex="-1" role="dialog" aria-labelledby="mask_model_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mask_model_title">공지사항</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    마스크 구매 가능 여부를 1분마다 크롤링하여 업데이트하는 사이트입니다.
                </p>
                <p>
                    상품명, 가격, 사이즈, 마스크 종류와 같은 정보는 손으로 직접 입력하기 때문에 실제 정보와 다를 수 있습니다.
                </p>
                <p>
                    상품은 1. 저렴한 것, 2. 후기가 좋은 것 위주로 확인하고 있습니다.
                </p>
                <p>
                    정보가 틀렸거나, 좋은 상품을 소개하고 싶으시다면 <a href="mailto:kim.sardine@gmail.com">kim.sardine@gmail.com</a> <- 이메일 보내주세요
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}