{% extends "base.html" %}

{% block content %}

{% if is_closed_time %}
    <div class="alert alert-warning text-center mt-2" role="alert">
        <p>지금은 실시간 업데이트 시간이 아닙니다.</p>
        <hr>
        <p class="mb-0">실시간 업데이트 : 아침 8시 ~ 저녁 10시</p>
    </div>
{% endif %}

<div class="mt-4 text-center">
    <h6>마스크 재고 정보</h6>
    <h6>1분마다 업데이트</h6>
</div>

<div class="mt-4 text-center">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#mask_model">
        유의사항
    </button>
</div>

<div class="col-lg-8 mx-auto my-4">
    <div class="form-group mb-4">
        <label class="my-1 mr-2" for="sort">정렬</label>
        <select class="custom-select my-1 mr-sm-2" id="sort" onchange="location = this.value;">
            {% for sort in sort_dict %}
                <option value="{{sort.value}}" {{sort.selected}}>{{sort.title}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <div class="alert alert-success text-center" role="alert" style="margin-bottom: 0.5rem;">
            재고 있음
        </div>
        {% if now_in_stock_stores %}
            {% for store in now_in_stock_stores %}
                {% include "stores/include/store_list_each.html" with store=store %}
            {% endfor %}
        {% else %}
            <div class="text-center">현재 재고가 있는 상품이 없습니다.</div>
        {% endif %}
    </div>

    <div class="">
        <div class="alert alert-danger text-center" role="alert" style="margin-bottom: 0.5rem;">
            재고 없음
        </div>
        {% for store in not_in_stock_stores %}
            {% include "stores/include/store_list_each.html" with store=store %}
        {% endfor %}
    </div>
</div>


<div class="modal fade" id="mask_model" tabindex="-1" role="dialog" aria-labelledby="mask_model_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mask_model_title">유의사항</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    상품명, 가격, 사이즈, 마스크 종류와 같은 정보는 손으로 직접 입력하기 때문에 실제 정보와 다를 수 있습니다.
                </p>
                <p>
                    상품은 <1. 가성비, 2. 후기> 위주로 확인하고 있습니다.
                </p>
                <p>
                    정보가 틀렸거나, 좋은 상품을 알고 계시다면 <a href="mailto:kim.sardine@gmail.com">kim.sardine@gmail.com</a> 로 이메일 보내주세요
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}