
{% if histories %}
    <table class="table table-sm table-striped text-center">
        <thead>
            <tr>
                <th scope="col">재고가 있었던 시간</th>
            </tr>
        </thead>
        <tbody>
            {% for history in histories %}
                <tr>
                    <td>{{history.created_at}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<div class="text-center border-top pt-2">
    <strong>기록 없음</strong>
</div>
{% endif %}
