{% load humanize %}

<div class="card mb-3 {{store.card_class}}">
    <div class="row no-gutters">
        <div class="text-center w-100 p-2 {{store.alert_class}}">
            {{store.now_in_stock_display}}
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-4">
            <div class="m-2">
                <img src="{{store.image_url|default_if_none:"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"}}" class="my-card-img" alt="이미지">
            </div>
        </div>
        <div class="col-8">
            <div class="my-card-body m-2">
                <div class="my-card-text">
                    <a href="{{store.product_url}}">{{store.product_title}}</a>
                    <small class="text-muted"> - {{store.mall_title}}</small>
                </div>
                <div class="my-card-text">
                    <span class="badge {{store.price_badge_class}}">개당 {{store.price|floatformat}}원</span>
                    <span class="badge {{store.mask_type_badge_class}}">{{store.mask_type|default_if_none:""}}</span>
                    <span class="badge badge-primary">사이즈: {{store.size|default_if_none:"정보 없음"}}</span>
                </div>
                <div class="my-card-text">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#store_{{store.id}}">
                        재고 기록 보기
                    </button>
                    <div>
                        <small class="text-muted">
                            최근 재고 : {{store.recent_in_stock_date|default_if_none:"정보 없음"}}
                        </small>
                    </div>
                </div>
                <div class="my-card-text float-right">
                    업데이트 : {{store.modified_at|naturaltime}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="store_{{store.id}}" tabindex="-1" role="dialog" aria-labelledby="store_{{store.id}}_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="store_{{store.id}}_title">재고 기록 : {{store.product_title}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "stores/include/stock_history_table.html" with histories=store.stock_histories.all %}
            </div>
        </div>
    </div>
</div>