{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131568070-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131568070-3');
    </script>

    <meta name="naver-site-verification" content="32d3cc721475e68d393f66459348f5a394ef849e"/>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}마스크스크{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="마스크 재고 정보를 실시간으로 업데이트하여 제공합니다.">
    <meta name="author" content="kim.sardine">
    <meta name="keywords" content="마스크, 재고, 가격, 모니터링, mask, kf94, kf99">

    <meta property="og:url" content="https://masksk.cc" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="마스크스크 - 마스크 재고 정보 실시간 업데이트" />
    <meta property="og:description" content="마스크 재고 정보를 실시간으로 업데이트하여 제공합니다." />
    <meta property="og:image" content="{% static 'images/favicons/mask_emoji_og.png' %}" />


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/mask_emoji.png' %}">

    {% block css %}
    
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link href="{% static 'css/project.css' %}?v=sardine_{% now "H" %}" rel="stylesheet">

    {% endblock %}

  </head>

  <body>

    <div class="navbar-light bg-light mb-2">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <div class="d-flex justify-content-between p-2">
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#warning_modal">
                유의사항
            </button>
            <a class="my-nav" href="{% url 'home' %}">마스크스크</a>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#mailing_modal">
                이메일 알림
            </button>
          </div>
        </div>
      </div>
    </div>
        
    <div class="modal fade" id="warning_modal" tabindex="-1" role="dialog" aria-labelledby="warning_modal_title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="warning_modal_title">유의사항</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
                상품명, 가격, 사이즈, 마스크 종류와 같은 정보는 손으로 직접 입력하기 때문에 실제 정보와 다를 수 있습니다.
            </p>
            <p>
                상품은 <1. 가격(장당 1500원 이하), 2. 후기> 위주로 확인하고 있습니다.
            </p>
            <p>
                정보가 틀렸거나, 좋은 상품을 알고 계시다면 <a href="mailto:kim.sardine@gmail.com">kim.sardine@gmail.com</a> 로 이메일 보내주세요
            </p>
          </div>
        </div>
      </div>
    </div>
        
    <div class="modal fade" id="mailing_modal" tabindex="-1" role="dialog" aria-labelledby="mailing_modal_title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mailing_modal_title">마스크 입고 알림 신청</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              마스크가 입고되면 이메일을 보내드립니다. <br>
              이메일 내부의 "수신거부" 버튼을 통해 이메일 수신을 거부하실 수 있습니다.
            </div>
            <form class="mt-4" method="post" action="{% url "mailings:create-mailing" %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="email" required>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="agree" required>
                <label class="form-check-label" for="agree">메일 수신에 동의합니다.</label>
              </div>
              <button type="submit" class="btn btn-primary float-right">신청</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="col-lg-8 mx-auto">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endfor %}
        {% endif %}
      </div>

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </div> <!-- /container -->

    
    <footer>
      <div class="container">
        <div class="col-lg-8 mx-auto border-top p-3">
          <span class="float-right"><a href="#">↑</a></span>
          <div>제안, 불편사항 -> <a href="mailto:kim.sardine@gmail.com">메일</a> 보내주세요</div>
          <div>source code -> <a href="https://github.com/kim-sardine/masksk" target="_blank">Github</a></div>
          <div>by side-punch.</div>
        </div>
      </div>
    </footer>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      
      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <script src="{% static 'js/project.js' %}?v=sardine_{% now "H" %}"></script>
    {% endblock javascript %}

  </body>
</html>
